misc.txt
*__pycache__
.ipynb_checkpoints
.part*
part-*
*_SUCCESS*
*.pyc
airflow/logs/
airflow/plugins/
src/datasets/
src/redis_data/
keys.yml
src/models/logs
src/models/embeddings
src/models/recognizers
src/models/results